.image-container {
  margin: auto;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 1%;
}

.sm-gallery {
  height: 30%;
  width: 30%;
}

.md-gallery {
  height: 50%;
  width: 50%;
}

.lg-gallery {
  height: 70%;
  width: 70%;
}

.gallery-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.button-group {
  text-align: center;
  margin: 1% 0 3% 0;
}

#prev-btn {
  margin-right: 2%;
}
