#hostels-container {
  margin-left: 5%;
  margin-right: 5%;
}

.nav-pills .nav-link {
  color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #E98074;
}

.nav-link:hover, .nav-link:focus {
  color: gray;
}

.checked {
  color: orange;
}

.carousel-container {
  margin-bottom: 5%;
}

.carousel-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 500px;
  max-height: 500px;
}

.arrow-icon {
  color: darkgray;
}

.hostel-info-header {
  color: #E98074;
}

.house-icon {
  margin: 0.5%;
  margin-bottom: 0.75%;
  vertical-align: text-bottom;
}

.hostel-address {
  font-size: 75%;
  color: #D8C3A5;
}

.hostel-info-link {
  color: #8E8D8A;
}

.city-link {
  font-size: 40%;
  color: black;
  vertical-align: middle;
  margin: 5px;
}
