.misc-title {
  text-align: center;
  margin: 3% 10% 1% 10%;
  color: #E85A4F;
}

.misc-description {
  text-align: center;
  color: #8E8D8A;
}

.misc-divider {
  position: relative;
  margin-top: 0;
  border: none;
  height: 1px;
  width: 90%;
  background: white;
  margin-bottom: 1.5%;
}

.misc-jp {
  font-size: 50%;
  color: #8E8D8A;
  vertical-align: middle;
}