@import '../../assets/styles/colours';

.misc-icon {
  color: $beige;
}

.navbar-brand {
  margin-right: 0.5rem;
}

#misc-nav .dropdown-menu {
  background-color: $light-beige;
}

#misc-nav .dropdown-menu a:hover {
  background-color: $beige;
}