@import '../../assets/styles/colours';

.misc-title {
  text-align: center;
  margin: 3% 10% 1% 10%;
  color: $red;
}

.misc-description {
  text-align: center;
  color: $gray;
}

.misc-divider {
  position: relative;
  margin-top: 0;
  border: none;
  height: 1px;
  width: 90%;
  background: white;
  margin-bottom: 1.5%;
}

.misc-jp {
  font-size: 50%;
  color: $gray;
  vertical-align: middle;
}