.home {
  text-align: center;
  margin: 13%;
}

.header {
  font-size: 150px;
  font-weight: 300;
  color: #E85A4F;
}

.year {
  font-size: 140px;
}

.lucy {
  border: none;
}

.lucy-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-height: 75%;
}

.portrait-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 60%;
}

#home-location-dropdown {
  margin-right: 20px;
  color: white;
  background-color: #E98074;
  border: none;
}

#misc-dropdown {
  color: #E98074;
  background-color: #EAE7DC;
  border-color: #E98074;
}

#misc-dropdown:hover {
  color: white;
  background-color: #E98074;
  border-color: #E98074;
}
