.food-img {
  width: 100%;
  height: 100%;
}

.carousel-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 500px;
  max-height: 500px;
}

.location-food-restaurant {
  color: #8E8D8A;
}

.location-foods-div {
  margin-top: 2%;
}

.checked {
  color: orange;
}

.location-food-name {
  color: #E98074;
}

.location-food-address {
  font-size: 75%;
  color: #D8C3A5;
}

.nav-tabs > a {
  color: #E98074;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  /* color: #E85A4F;
  background-color: #EAE7DC; */
  color: #EAE7DC;
  background-color: #E98074;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #E98074;
}