@import '../../assets/styles/colours';

.modal-img {
  width: 100%;
}

.modal-caption {
  color: gray;
}

.modal-container .modal-content {
  background-color: $light-beige;
}

.modal-container .modal-content .modal-header {
  color: $red;
}

.modal-container .modal-content .modal-body {
  color: $gray;
}