.modal-img {
  width: 100%;
}

.modal-caption {
  color: gray;
}

.modal-container .modal-content {
  background-color: #EAE7DC;
}

.modal-container .modal-content .modal-header {
  color: #E85A4F;
}

.modal-container .modal-content .modal-body {
  color: #8E8D8A;
}