@mixin img-size($size) {
  max-width: $size;
  max-height: $size;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.xs {
  @include img-size(30%);
}

.sm {
  @include img-size(50%);
}

.md {
  @include img-size(75%);
}

.lg {
  @include img-size(100%);
}

.caption {
  color: gray;
  text-align: center;
  margin-bottom: 1.5%;
}

.no-caption {
  margin-bottom: 1.5%;
}