.main-page-div {
  margin: 0 7% 1% 7%;
}

.main-page-header {
  text-align: center;
}

.header-jp {
  font-size: 50%;
  color: gray;
  vertical-align: middle;
}

.header-divider {
  position: relative;
  margin-top: 0;
  border: none;
  height: 3px;
  width: 40%;
  background: gray;
  margin-bottom: 1.5%;
}
