.main-page-div {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.main-page-header {
  text-align: center;
}

.header-divider {
  position: relative;
  margin-top: 0;
  border: none;
  height: 3px;
  width: 400px;
  background: gray;
  margin-bottom: 20px;
}