.main-page-div {
  margin: 0 7% 1% 7%;
}

.main-page-header {
  color: #E85A4F;
  margin-left: 5%;
  font-size: 8vw;
}

.header-jp {
  color: #8E8D8A;
  margin-left: 5%;
}

#page-jumbotron {
  background-color: #EAE7DC;
  margin-bottom: 5%;
  border-bottom: 3px solid white;
}

.header-dates {
  margin-left: 5%;
  color: #E98074;
}