@import '../../assets/styles/colours';

.main-page-div {
  margin: 0 7% 1% 7%;
}

.main-page-header {
  color: $red;
  margin-left: 5%;
  font-size: 8vw;
}

.header-jp {
  color: $gray;
  margin-left: 5%;
}

#page-jumbotron {
  background-color: $light-beige;
  margin-bottom: 5%;
  border-bottom: 3px solid white;
}

.header-dates {
  margin-left: 5%;
  color: $light-red;
}