.text-block {
  margin: 1% 10% 1% 10%;
  font-size: 120%;
  color: #8E8D8A;
}

.text-block-with-image {
  font-size: 120%;
  color: #8E8D8A;
}

.image-left {
  margin-right: 18%;
}

.image-right {
  margin-left: 18%;
}