@import '../../assets/styles/colours';

.text-header {
  text-align: left;
  color: $light-red;
  margin-top: 3%;
  margin-left: 10%;
}

.text-header-divider {
  position: relative;
  margin-top: 0;
  border: none;
  height: 2px;
  width: 80%;
  background: white;
  margin-bottom: 1.5%;
}
