@import '../../assets/styles/colours';

.location-header-div {
  margin-bottom: 1.5%;
}

#navbar-header {
  background-color: $light-beige !important;
}

#navbar-brand {
  color: $red;
}

@media (max-width: 500px) {
  #navbar-dates {
    display: none;
  }
}

#home-link {
  color: $light-red;
}

.current-item, .current-item:hover {
  background-color: $beige;
}

#location-nav .dropdown-menu {
  background-color: $light-beige;
}

#location-nav .dropdown-menu a:hover {
  background-color: $beige;
}