.location-header-div {
  margin-bottom: 1.5%;
}

#navbar-header {
  background-color: #EAE7DC !important;
}

#navbar-location {
  color: #E85A4F;
}

#home-link {
  color: #D8C3A5;
}

.current-item, .current-item:hover {
  background-color: lightgray;
}