.location-header-div {
  margin-bottom: 1.5%;
}

#navbar-header {
  background-color: #EAE7DC !important;
}

#navbar-brand {
  color: #E85A4F;
}

@media (max-width: 500px) {
  #navbar-dates {
    display: none;
  }
}

#home-link {
  color: #E98074;
}

.current-item, .current-item:hover {
  background-color: #D8C3A5;
}

#location-nav .dropdown-menu {
  background-color: #EAE7DC;
}

#location-nav .dropdown-menu a:hover {
  background-color: #D8C3A5;
}