.home {
  text-align: center;
  margin: 150px;
}

.header {
  font-size: 150px;
}

.lucy {
  border: none;
}

.lucy-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-height: 75%;
}